<div class='navigation'>
<ul>
  <li><a href='#' class=''>Meetings</a></li>
  <li><a href='/logout' class='logout'>Logout</a></li>
</ul>
</div>
<div id='container'>
  Slack User Information:
  <%= user %>
</div>
