<div class='navigation'>
  <ul>
    <li><a href='#/' class=''>Huddles</a></li>
    <li><a href='#/groups' class=''>Groups</a></li>
    <li><a href='#/team' class=''>Slack Team</a></li>
    <li><a href='#/create' class=''>New</a></li>
    <li><a href='/logout' class='logout'>Logout</a></li>
  </ul>
</div>

<div id='container'>
  <div ng-view></div>
</div>
