<div class='navigation'>
  <ul>
    <li><a href='#/' class=''>Huddles</a></li>
    <li><a href='#/create' class=''>New</a></li>
    <li><a href='#/team' class=''>Team</a></li>
    <li><a href='/logout' class="logout">Logout</a></li>
  </ul>
</div>

<div class='container'>
  <div ng-view></div>
</div>

<script>
  $(function(){
    $body = $("body");
    $(window).resize(function() {
      //$(".videoContainer").each()

    });
  });
</script>
