<h2>{{status}}</h2>

<div ng-show='info._id'>
  <h3>Huddle: {{info.title}} - id: {{info._id}}</h3>
  <button>Mooooo!</button> <button>Thumbs Check</button> <button>End The huddle</button></p>

  <table>
  <tr>
  <td valign="top">
  <div class='team-list'>
    <ul>
      <li ng-repeat="user in users | orderBy:'present'">
        <button ng-class="{faded: !user.present}">
          <img ng-src="{{user.profile.image_72}}">
          <div> @{{ user.name }} </div>
        </button>
      </li>
    <ul>
  </div>

  </td>
  <td valign="top">
    <video height="200" id="localVideo" style="float:left"></video>
    <div id="remotesVideos" style="float:left"></div>
  </td>
  </tr>
  </table>

</div>
