
<h2>Huddle: {{info.title}}</h2>
<h3>id: {{info._id}}</h3>
<button>Mooooo!</button> <button>End The huddle</button></p>


<div style="height: 300px;">
  <!-- video -->
  <video height="300" id="localVideo"></video>
  <div id="remotesVideos"></div>
</div>

<div class='team-map'>

  <ul>
    <li ng-repeat="user in users | orderBy:'present'">
      <button ng-class="{faded: !user.present}">
        <img ng-src="{{user.profile.image_72}}">
        <div> {{ user.profile.first_name + " " +user.profile.last_name}} </div>
        <div> @{{ user.name }} </div> <div> {{ user.id }} </div>
      </button>
    </li>
  <ul>
<div>

<pre>

</pre>

