<p>
  <span>Give your huddle a title:</span>
  <br/>
  <input type='text' placeholder='Title' ng-model='title'>
</p>

<p>
  Invited: {{ invited.length }}
  <button ng-click="reset()"> reset </button>
  <button ng-show="invited.length !== 0" ng-click="createMeeting()"> Huddle Up!</button>
</p>

<div class='team-map'>
  <ul>
    <li ng-repeat="user in invited | filter:search">
      <button ng-click="uninvite(user.id)">
        <img ng-src="{{user.profile.image_72}}">
        <div> {{ user.profile.first_name + " " +user.profile.last_name}} </div>
        <div> @{{ user.name }} </div> <div> {{ user.id }} </div>
      </button>
    </li>
  <ul>
<div>

<div style='clear:both'/>
<hr/>
<p>Click on a person to invite them. ({{ notinvited.length }})</p>

<p>
  Search: <input type="text" placeholder="filter" ng-model="search"><button ng-click="search=''">x</button>
</p>

<div class='team-map'>
  <ul>
    <li ng-repeat="user in notinvited | filter:search">
      <button ng-click="invite(user.id)">
        <img ng-src="{{user.profile.image_72}}">
        <div> {{ user.profile.first_name + " " +user.profile.last_name}} </div>
        <div> @{{ user.name }} </div> <div> {{ user.id }} </div>
      </button>
    </li>
  <ul>
<div>





